html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-family: Segoe UI;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

html {
  font-size: 100%;
}

main {
  min-height: calc(100vh - 124px);
}

.font-page {
  text-align: center;
  background-color: white;
  height: 100vh;
}

#title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

#head {
  height: 50px;
  background-color: black;
}

body {
  position: absolute;
}

.col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary {
  text-align: center;
  font-size: 20px;
}

#landing {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.controller {
  padding: 40px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  display: none;
}

/* main */
#video-chat {
  display: flex;
  flex-direction: row;
  height: 80%;
}

#video-container #chat-container {
  min-width: 0;
}

#video-container {
  flex: 4;
  background-color: black;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

#video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#message-container {
  border: 1px solid black;
}

#chat {
  flex: 1.5;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #000;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

#chat-window {
  height: 400px;
  overflow: auto;
  overflow-x: hidden;
  background: #f9f9f9;
  word-break: break-all;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p {
  height: 4px;
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: black;
}

label {
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

#chat > h2 {
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#message {
  padding: 15px 20px;
  box-sizing: border-box;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Segoe UI;
  font-size: 16px;
}

#send {
  background: black;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

#room {
  margin-right: 16px;
}

#chat-container div {
  background-color: white;
  padding: 5px;
}

#player-controls {
  position: relative;
  bottom: 0px;
  right: 0px;
  margin-left: 5px;
  margin-top: 10px;
  height: 50px;
  padding-top: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  font-family: Segoe UI;
  font-size: 109%;
}

#timing {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
}

#progress-container {
  display: flex;
  width: 70%;
  align-items: center;
}

#progress-bar {
  position: absolute;
  margin: -5px 15px;
  margin-right: 5px;
  width: 70%;
  height: 10px;
  background: gray;
  cursor: pointer;
  box-sizing: border-box;
}

#progress-indicator {
  height: 15px;
  width: 15px;
  position: relative;
  border: 2px solid black;
}

#page-footer {
  width: 100%;
  color: white;
  text-align: center;
  background-color: black;
  padding: 5px;
  bottom: 0;
  margin-top: 80px;
}

/* Large desktop */
@media (min-width: 1200px) {
  /* your code */
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* your code */
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  #video-chat {
    flex-direction: column;
  }

  #video-container {
    flex: 2;
  }

  #progress-container {
    display: none;
  }

  #player-controls {
    justify-content: center;
  }

  #send {
    padding: 0px 0px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  /* h2 {
        display: none;
    } */
  #handle,
  #message {
    padding: 5px 5px;
  }

  #progress-container {
    display: none;
  }

  #player-controls {
    justify-content: center;
  }

  #send {
    padding: 0px 0px;
  }
}
